:root {
  --bg-color: rgba(26, 26, 46, 0.8);  /* Dark Blue with transparency */
  --text-color: #EAEAEA;  /* Light Gray */
  --accent-color: #0F3460;  /* Deep Blue */
  --highlight-color: #E94560;  /* Vivid Red */
  --secondary-color: #16213E;  /* Darker Blue */
  --button-color: #53354A;  /* Purple */
  --button-hover-color: #903749;  /* Dark Red */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  transition: 0.3s;
  padding: 0;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: var(--bg-color);
  overflow-y: auto;
  height: 100vh;
}

h1, h2 {
  color: var(--highlight-color);
  font-weight: bold;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: var(--button-hover-color);
}

footer {
  margin-top: 30px;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(13, 13, 26, 0.8);  /* Darker Blue with transparency */
    --text-color: #EAEAEA;
    --accent-color: #0F3460;
    --highlight-color: #E94560;
  }
}

.announcement {
  background-color: var(--button-hover-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px 0;
}